/*DEFAULT*/
*{margin:0;}
html,body{height:100%; width:100%; min-width: 1200;}

/*BANNER*/
#banner {margin-top:0; position: absolute; height: 200px; width: 100%; background: #FFD700;}
#banner img{margin-left: 5px; width:1000;}

/*TOPO*/
#menuTopo {margin-top: 200px; position: absolute; height: 55px; width: 100%; background: #2B2B2B;}
#menuTopo ul{float:left; list-style:none; margin-top: 8px; margin-left: 0px}
#menuTopo li{position:relative;float:left;}
#menuTopo li a{text-decoration: none; color:#FFD700;list-style: none; margin:0 0 0 60px; font-family: Trebuchet MS; font-size:35px;}

#text{font-family: Trebuchet MS; font-size:29px; color:#423D3C; margin-top: 3px;}
#facil a:hover{color:#228B22;}
#dificil a:hover{color:#FF0000;}
#medio a:hover{color:#FFFF00; }
#voltar a{font-family: Trebuchet MS; float:right; font-size: 25px; color:#FFD700; margin-right: 60px; margin-top: 13px; position: relative; text-decoration: none;}
#voltar a:hover{color:#423D3C;}

/*CONTEUDO*/
#conteudo {position: absolute; margin-top: 290px;}
#conteudo h1{font-family: Arial; font-size: 45px; margin-left: 15px;}
#conteudo h2{font-family: Trebuchet MS; font-size: 20px; color: #2B2B2B; margin-left: 15px; margin-right: 15px;}

#qust{position: absolute; margin-top: 450px; margin-left: 15px; margin-right: 15px;}

/*INTRO*/
#intro {width: 800px; margin-left: 50px}
#intro h1{font-family: Arial; size: 80px; color: #FFD700;}
#intro h2{font-family: Trebuchet MS; size: 60px; color: #2B2B2B; text-align: justify;}
#intro a{text-decoration: underline; font-family: Trebuchet MS; size: 60px; color: #2B2B2B; text-align: justify;}
#intro a:hover{color:#FFD700;}

/*RODAPE*/
#rodape{background: #FFD700; width: 100%; height: 100px; margin-top: 900px; position: absolute;}
#rodape h2{text-align:center;font-family: Trebuchet MS; font-size:22px; color:#2B2B2B; padding-top:20px;}
#rodape h3{text-align:center;font-family: Trebuchet MS; font-size:19px; color:#2B2B2B; padding-top:5px;}
